<!-- <app-onewaybinding></app-onewaybinding>
<app-signalbinding></app-signalbinding>
<app-twowaybinding></app-twowaybinding>
<app-login></app-login>
<app-ngfor-demo></app-ngfor-demo> -->
<!-- <app-customers></app-customers> -->
<app-example></app-example>
<app-employee></app-employee>
<!-- <app-all></app-all> -->
<li>
<a href="/dolly">login</a> 
</li>
<a href="/customers">customer info</a>
<li>
  <a href="/onewaybinding">oneway</a>
</li>
<li>
<a href="/twowaybinding">twoway</a>
</li>
<li>
<a href="/examples">examples</a>
</li>
<li>
  <a href="/demo">Demo</a>
</li>
<li>
  <a href="/all">all</a>
</li>
<li>
  <a href="/student">student</a>
</li>
<li>
  <a href="/user">user</a>
</li>
<router-outlet></router-outlet>